.color1, .color2, .color3, .color4, .color5, .color6{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: black;
    
}
.maincontainer{
    text-align: center;
   
    
    

}
.container-color{
    border: 4px solid;
    display: flex;
    justify-content:space-around;
    background-color: blanchedalmond;
    
}
.text{
    background-color: #205b89;
    border: 4px solid;
    margin-bottom: 2px;
}

h1{
    text-align: center;
}

